<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="assets/css/summary.css">
  <meta name=author content="Rodrigo">
  <meta name=description content="some desc">
</head>
<body>

{% include 'header.html' %}

<div class='header_former'>
  <table class="table0">
    <tr>
        <TD><P class="former_border p5 ft9"><strong>Formador:</strong> {{ formadora }}</P></td>
        <td><P class="former_border p6 ft9"><strong>Email:</strong> {{ email_formadora }}</P></td>
    </tr>
  </table>
</div>

<div class="summary">
  <div class="content info"">
    <TABLE border="0" class="table0">
      <TR>
        <TD><P class="td3 p5 ft9">Prof. Participantes</P></TD>
        <TD><P class="td4 p6 ft9">{{ professores_participantes }}</P></TD>
      </TR>
      <TR>
        <TD><P class="td5 p5 ft0">Prof. Avaliaram</P></TD>
        <TD><P class="td6 p6 ft0">{{ professores_q_avaliaram }}</P></TD>
      </TR>
      <TR>
        <TD><P class="td5 p5 ft0">Avaliações Realizadas</P></TD>
        <TD><P class="td6 p6 ft0">{{ avaliacoes_realizadas }}</P></TD>
      </TR>
      <TR>
        <TD><P class="td3 p5 ft11">Prof. que não avaliaram</P></TD>
        <TD><P class="td4 p6 ft11">{{ professores_q_nao_avaliaram }}</P></TD>
      </TR>
      <TR>
        <TD><P class="td5 p5 ft12">Prof. Acessaram</P></TD>
        <TD><P class="td6 p6 ft12">{{ prof_acessaram }}</P></TD>
      </TR>
      <TR>
        <TD><P class="td3 p5 ft11">Prof. que não entraram</P></TD>
        <TD><P class="td4 p6 ft11">{{ prof_q_n_entraram }}</P></TD>
      </TR>
      <TR>
        <TD><P class="tr8 td0 p2 ft13">&nbsp;</P></TD>
        <TD><P class="tr8 td1 p2 ft13">&nbsp;</P></TD>
      </TR>
      <TR>
        <TD><P class="td3 p9 ft9">Meta</P></TD>
      </TR>
      <TR>
        <TD><P class="former_border td5 p5 ft0">Prof. que avaliaram {{ meta_planos }} planos</P></TD>
        <TD><P class="former_border td6 p6 ft0">{{ prof_ok }}</P></TD>
      </TR>
      <TR>
        <TD><P class="td3 p5 ft11">Prof. que avaliaram menos de {{ meta_planos }} planos</P></TD>
        <TD><P class="td4 p6 ft11">{{ prof_n_ok }}</P></TD>
      </TR>
      </TABLE>  
  </div>
  <div class="content chart">
    <img class="helper" src="data:image/png;base64,{{ chart }}"\>
  </div>
</div>

<h2>Sales Report</h2>
  {{ sales_pivot }}

{% include 'footer.html' %}

</body>
</html>
